flows.json
[
    {
        "id": "5af004842aa58544",
        "type": "tab",
        "label": "essai 29/05",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b2820b5afe397518",
        "type": "mqtt in",
        "z": "5af004842aa58544",
        "name": "",
        "topic": "esp32/DHT11 (temperature)",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "600bae3f9d4de6c6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 200,
        "wires": [
            [
                "ab265d122509c13b"
            ]
        ]
    },
    {
        "id": "16f20d046d7940dc",
        "type": "mqtt in",
        "z": "5af004842aa58544",
        "name": "",
        "topic": "esp32/luxmetre",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "600bae3f9d4de6c6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 300,
        "wires": [
            [
                "af162b18ee620b3b"
            ]
        ]
    },
    {
        "id": "12e4e06a66db3e6b",
        "type": "mqtt in",
        "z": "5af004842aa58544",
        "name": "",
        "topic": "esp32/humiditesol",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "600bae3f9d4de6c6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 400,
        "wires": [
            [
                "2c6cd7fe082e8320"
            ]
        ]
    },
    {
        "id": "569405fc7cfe3dbd",
        "type": "mqtt in",
        "z": "5af004842aa58544",
        "name": "",
        "topic": "esp32/neau",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "600bae3f9d4de6c6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 520,
        "wires": [
            [
                "acd8d08159de2b8d"
            ]
        ]
    },
    {
        "id": "cb5a03acafa04e43",
        "type": "ui_template",
        "z": "5af004842aa58544",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 200,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "ab265d122509c13b",
        "type": "ui_gauge",
        "z": "5af004842aa58544",
        "name": "",
        "group": "90808d1a43f6afd4",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 220,
        "wires": []
    },
    {
        "id": "af162b18ee620b3b",
        "type": "ui_gauge",
        "z": "5af004842aa58544",
        "name": "",
        "group": "90808d1a43f6afd4",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 320,
        "wires": []
    },
    {
        "id": "2c6cd7fe082e8320",
        "type": "ui_gauge",
        "z": "5af004842aa58544",
        "name": "",
        "group": "90808d1a43f6afd4",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 420,
        "wires": []
    },
    {
        "id": "acd8d08159de2b8d",
        "type": "ui_text",
        "z": "5af004842aa58544",
        "group": "0d9962b11872a0c4",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 490,
        "y": 520,
        "wires": []
    },
    {
        "id": "4b3f4abf05fff4b3",
        "type": "ui_spacer",
        "z": "5af004842aa58544",
        "name": "spacer",
        "group": "13def60c8f90cfe9",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "600bae3f9d4de6c6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.ci-ciad.utbm.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "90808d1a43f6afd4",
        "type": "ui_group",
        "name": "humidité du sol, température, ensoleillement",
        "tab": "0c869774a920eb66",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0d9962b11872a0c4",
        "type": "ui_group",
        "name": "niveau d'eau",
        "tab": "0c869774a920eb66",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "13def60c8f90cfe9",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "0c869774a920eb66",
        "type": "ui_tab",
        "name": "Tableau de bord",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]